.body {
    margin: 0;
}

.table {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: turquoise;
    width: 800px;
    min-height: 600px;
    margin: 0 auto;
}

.table__upper {
    text-align: center;
    color: whitesmoke;
}

.table__upper--text, .table__clock {
    font-size: 1.5rem;
}

.table__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    width: 120px;
    height: 160px;
    background-color: transparent;
    margin: 8px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  
.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  

 .card__front {
    background-color: #bbb;
    color: black;
  }
  
 .card__back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);

  }

  .card__flip {
    transform: rotateY(180deg);
}
