.body {
    margin: 0;
}

.table {
    padding: 15px;
    background-color: turquoise;
    width: 800px;
    min-height: 600px;
    margin: 0 auto;
}

.table__upper {
    text-align: center;
    color: whitesmoke;
}

.table__upper--text, .table__clock {
    font-size: 1.5rem;
}

.table__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    width: 120px;
    height: 160px;
    background-color: transparent;
    margin: 8px;
    perspective: 1000px;
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}
  
.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.card__back {
    transform: rotateY(180deg);
}

.card__flip {
    transform: rotateY(180deg);
}

.disabled {
    pointer-events: none;
}